@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/font-icon/fonts/icomoon.eot?74xi81");
  src:
    url("../assets/fonts/font-icon/fonts/icomoon.eot?74xi81#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/font-icon/fonts/icomoon.ttf?74xi81") format("truetype"),
    url("../assets/fonts/font-icon/fonts/icomoon.woff?74xi81") format("woff"),
    url("../assets/fonts/font-icon/fonts/icomoon.svg?74xi81#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e90f";
}

.icon-book:before {
  content: "\e904";
}

.icon-close:before {
  content: "\e910";
}

.icon-arrow:before {
  content: "\e903";
}

.icon-warning:before {
  content: "\26A0";
}

.icon-tick::before {
  content: "\2713";
}

.icon-back:before {
  content: "\ea38";
}

.icon-info {
  background-image: url("../assets/images/info.png");
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: inline-block;
  margin-top: -2px;
}

.icon-red-check {
  background-image: url("../assets/images/red-check.jpg");
  width: 14px;
  height: 14px;
  margin-top: 3px;
  display: inline-block;
  background-size: 100% 100%;
}

@font-face {
  font-family: "lapfont";
  src: url("../assets/fonts/font-icon/fonts/lapfont.eot?62dmgp");
  src:
    url("../assets/fonts/font-icon/fonts/lapfont.eot?62dmgp#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/font-icon/fonts/lapfont.ttf?62dmgp") format("truetype"),
    url("../assets/fonts/font-icon/fonts/lapfont.woff?62dmgp") format("woff"),
    url("../assets/fonts/font-icon/fonts/lapfont.svg?62dmgp#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-lap-"],
[class*=" icon-lap-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "lapfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lap-minus:before {
  content: "\e900";
}
.icon-lap-plus:before {
  content: "\e901";
}
.icon-lap-notification:before {
  content: "\ea08";
}
.icon-lap-info:before {
  content: "\ea0c";
}
