$white: #fff;

.booked-icon {
    padding: 0px 10px;
    background-color: #F27C06;
    color: white;
    border-radius: 2px;
}

.transtime {
    text-overflow: ellipsis;
}

.licenseeTxid {
    overflow: hidden;
    text-overflow: ellipsis;
}

.players-choice {
    color: #000000;
    font-weight: bold !important;
    word-break: break-word;
    white-space: normal;
}

.table.fn-rs .cl-result.home .match-info {
    color: #000000;
}

.game-id {
    color: #000;
}

.leagueName > .bet-type-name {
    color: #696969;
}

.allbet-bet-id {
    color: #bbb;
}

.allbet-bet-type-name {
    color: #696969;
}

.sexygaming-bet-id {
    color: #bbb;
}

.sexygaming-bet-type-name {
    color: #696969;
}

.bet-id {
    color: #bbb;
    font-weight: 600;
}

.betlist-popup {
    padding: 5px 20px;
}

.betlist-container {
    .header-content {
        .table>thead>tr>th {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #ffffff;
            border-top: 1px solid #d1dae1;
            border-radius: 0;
            font-weight: lighter;
            padding: 4px 5px;
            background: #4C6375;
            color: #fff;
        }
    }
    
    .header-title {
        &.selected {
            text-decoration: underline;
        }
    }
    
    .footer-content {
        .table>tbody>tr {
            &.light-footer>td {
                background: #ffffff;
            }
        }
    }

    .ui-jqgrid-hdiv table.ui-jqgrid-htable > thead > tr > th {
        &, &.ui-th-column {
            color: $white;
        }
    }

    .content-title {
        font-weight: bold;
        font-size: 15px;
        padding: 10px 0 0 0;
        min-height: 30px;
        min-width: 650px;
        color: #D2592D;
    }

    a {
        text-decoration: none;
    }

    .mx-parlay .void, .mx-parlay .refund {
        text-decoration: line-through;
    }

    .line {
        border-bottom: 1px solid #A0A0A0;
        margin-bottom: 5px;
        margin-top: 5px;
        overflow: hidden;
        text-align: left;
        width: 100%;
    }

    .underdog {
        color: #01122B;
        font-weight: bold !important;
        white-space: normal;
    }

    .stake {
        font-weight: bold !important;
    }

    .favorite {
        color: #B50000;
        font-weight: bold !important;

        .excluding-choices {
            white-space: normal;
            color: #484848;
            font-weight: normal;
        }
    }

    .handicap {
        .odds {
            color: #003399;
            font-size: 8pt;
        }

        &.custom {
            font-weight: bold;
        }
    }

    div.match + div.league {
        color: #666666;
        line-height: 15px;
        margin-top: 1px;
        background: none repeat scroll 0 0 transparent;
        font-weight: normal;
        text-align: right;
        text-transform: none;
    }

    .bettype {
        color: #003399;
        font-weight: 600;
        text-align: right;
    }

    .firstGoal, .lastGoal, .fhFirstGoal, .fhLastGoal {
        display: inline;
        height: 10px;
        padding: 0 6px;
        width: 14px;
        vertical-align: middle;
    }

    .firstGoal {
        background: url(../../assets/images/goal-icon.png) no-repeat 0 0;
    }

    .lastGoal {
        background: url(../../assets/images/goal-icon.png) no-repeat -18px 0;
    }

    .fhFirstGoal {
        background: url(../../assets/images/goal-icon.png) no-repeat -36px 0;
    }

    .fhLastGoal {
        background: url(../../assets/images/goal-icon.png) no-repeat no-repeat -54px 0;
    }

    .match {
        color: #000000;
        font-weight: normal;
        line-height: 15px;
        text-align: right;
        white-space: normal;
    }

    .leagueName {
        white-space: normal;
    }

    .oddstype {
        color: #586985;
        font-weight: bold;
    }

    .colorHandicap, .handicap {
        color: #606060;
    }

    .sport {
        color: #0066CC;
    }

    .lic-win-loss {
        background-color: #F5E3E3;
        font-weight: bold;
    }

    .negative-number {
        color: #b50000;
    }

    .detail {
        background: url(../../assets/images/q_Icon2_1.png) no-repeat scroll left center transparent;
        color: #755200;
        display: inline;
        font-weight: bold;
        height: 10px;
        line-height: 20px;
        padding: 0 1px 0 18px;
        width: 14px;

        &:hover {
            background: url(../../assets/images/q_Icon_2.png) no-repeat scroll left center transparent;
            color: #755200;
            cursor: pointer;
            display: inline;
            font-weight: bold;
            height: 10px;
            padding: 0 1px 0 18px;
            width: 14px;
        }
    }

    .combinationLink {
        line-height: 20px;
    }

    .scoremap {
        float: left;
    }

    .gamegroupname {
        color: #008000;
    }

    .light-blue {
        color: #0017CD;
        background-color: transparent !important;
    }
    /* Trans */
    .iplink, .betsliplink {
        cursor: pointer;
        color: #000000;
        font-size: 11px;
        white-space: pre-wrap;
        word-break: break-all;
    }

    .time {
        color: #434343;
        font-size: 7pt;
        font-weight: normal;
        text-align: center;
        margin: 10px 0 0 0;
    }

    .status {
        color: #606060;
        font-size: 11px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .result {
        color: #1BA4ED;
        cursor: pointer;
    }

    .ip {
        pointer-events: none;
    }

    .base-currency {
        font-size: 14px;
        color: rgb(2, 69, 132);
    }

    .icon-back {
        color: #555;
        font-size: 1.8rem;
    }
    /* Link */
    span.inactive-switch-link {
        font-size: 16px;
        font-weight: bold;
        cursor: default;
        text-decoration: none;
        color: #88003E;
    }

    span.active-switch-link {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
        color: #3547E3;
    }

    .blue {
        color: #2673CE;
    }

    td .detail > .detail-link {
        color: #755200;
        font-weight: bold;
    }
    /*to make line-through for void-parlay-ticket*/
    div.mx-parlay {
        div.void {
            span, div {
                text-decoration: line-through;
            }

            > div.match, div.firstGoal, div.lastGoal {
                text-decoration: none;
            }
        }

        .system-parlay-ticket-infor {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 15px;
            color: #000000;
            font-weight: bold;

            .system-parlay-unit-stake {
                color: #003399;
            }
        }
    }

    .ui-jqgrid .jqgrow .transtime {
        white-space: normal;
    }

    .offer-name-list {
        font-weight: bold;
    }

    .bonus-icon {
        background: url(../../assets/images/bonus.png) no-repeat scroll center center transparent;
        display: inline-block;
        height: 18px;
        width: 18px;
    }

    .bonus-icon:hover {
        cursor: pointer;
    }

    .bettype-description {
        color: #003399;
        font-weight: normal;
    }

    .rebate-bonus-icon {
        background: url(../../assets/images/rebateBonus.png) no-repeat scroll center center transparent;
        display: inline-block;
        height: 14px;
        width: 14px;
        position: relative;
        top: 2px;
    }

    .nph-promotion-icon {
        background: url(../../assets/images/nphPromotion.png) no-repeat scroll center center transparent;
        display: inline-block;
        height: 18px;
        width: 18px;
        position: relative;
        top: 4px;
        margin-right: 2px;
    }

    .single-match-parlay-detail {
        border-right: solid 2px #666666;
        margin: 0 8px 3px 0;
        padding-right: 5px;

        .single-match-parlay-selection {
            .selection {
                font-weight: normal;
                color: #000000;
            }

            .status {
                color: #003399;
            }
        }
    }

    .underdog > .bet-id, .favorite > .bet-id {
        color: #bbb;
        display: block;
    }
}

.mobile-betlist-container{
    .report-title-container{
       padding-left: 5px; 
    }
    .fixed-table-grant-total{
        text-align: right;
        .cell-total{
            display: flex;
            justify-content: space-between;
        }
        td.cell-total-winloss{
            border-right-color: #b8c3c9;
            overflow: visible;
            &+ td{
                border-left-color: #b8c3c9;
            }
        }
        td:first-child{
            text-align: center;
        }
    }

    tr
    {
        &.row-active{
            &.collapse-row, &.collapse-row:hover{
                td:first-child{
                    background: #F6DFA1;
                }
            }
        }
    }

    &.betlist-container {
        .bettype, .match{
            text-align: left;
        }
        .match + div.league{
            text-align: left;
        }
    }

    .collapse-row{
        td:first-child{
            background: #9EB4C3;
        }
    }
    
    .table > tbody{
        tr td{
           &.cell-collapse{
            padding-left: 0px;
            padding-right: 0px;
           }
           &.cell-stake{
            padding-left: 0px;
            .stake{
                word-break: break-all;
            }
           }
           &.cell-winloss .underdog{
            word-break: break-all;
           }
        }
        tr.fixed-table-grant-total:hover{
            td{
                background-color: #b8c3c9;
            }
        }
    }  
    .icon{
        color: #217A4A;
        font-size: 22px;
    }
    .cell-index{
        .index{
            color: #AA5200;
        }
        margin-bottom: 4px;
    }  
    .cell-odd{
        display: flex;
        margin-top: 4px;
    }
    .cell-external-id{
        border-bottom: 1px solid #BFB9A9;
        background: #D9D2C0;
    }
    .cell-choice{
        margin-top: 8px;
    }
    .table .status{
        margin-top: 8px;
    }
}

