.table {
    line-height: normal;
}

.table-container {
    overflow-x: hidden;
}

.body-content {
    overflow-x: hidden;
}

.header-content {
    .table>thead>tr>th {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ffffff;
        border-top: 1px solid #d1dae1;
        border-radius: 0;
        font-weight: 500;
        padding: 2px 5px;
        background: #4C6375;
        color: #fff;
    }
}
