.dropdown {
    position: relative;
    display: inline-block;
    /* Dropdown Button */
    .dropdown-toggle {
        padding: 0 10px;
        font-size: 11px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        line-height: initial;
        &.toggle-default {
            background: #50BA62;
            color: white;
            /* Dropdown button on hover & focus */
            &:hover, &:focus {
                background: #3e934c;
            }
        }

        &.toggle-outline {
            background: transparent;

            &-light {
                color: #333;
            }
        }
    }
    /* Dropdown Content */
    .dropdown-menu {
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        /* Links inside the dropdown */
        .dropdown-item {
            text-align: left;
            color: black;
            padding: 5px 10px;
            text-decoration: none;
            display: block;
            border: none;
            cursor: pointer;
            background-color: #fff;
            width: 100%;

            &:hover {
                background-color: #ddd;
            }
        }
    }
}