@import '@legion-lib/react-grid/dist/style.css';
@import '@legion-lib/react-daterangepicker/dist/style.css';
@import '@legion-lib/react-multiselect/dist/style.css';
@import '@legion-lib/react-breadcrumb/dist/style.css';

/* Daterangepicker */

.rdr-DateRange {
    z-index: 2;
}
/* React Grid */
.table {
    line-height: 1.5;
}

.footer-content {
    .table>tbody>tr>td {
        border: 1px solid #d1dae1;
        border-bottom: none;
        background: #B8C3C9;
        color: #404040;
    }
}

.page-container {
    font-size: 1.1rem;

    .icon {
        font-family: 'icomoon' !important;
    }

    .page-first {
        &:before {
            content: "\ea21";
        }
    }

    .page-prev {
        &:before {
            content: "\ea1f";
        }
    }

    .page-next {
        &:before {
            content: "\ea20";
        }
    }

    .page-last {
        &:before {
            content: "\ea22";
        }
    }
}

.mobile-table {
    .header-content, .footer-content,  .page-wrapper-container{
        display: block;
        position: sticky;
        position: -webkit-sticky;
        z-index: 10;
    }

    .header-content{
        z-index: 11;
        top: 0px;
        tr th:first-child{
            border-left: 0px;
        }
    }

    .body-content{
        overflow-x: initial;
        overflow-y: initial;
    }

    .page-wrapper-container{       
        bottom: 0px;
    }

    .table-container{
        overflow-x: visible;
    }

    .row-active{
        td{
            background: #FCF4DF;
        }
    }
    
    .table > tbody{
        tr:hover td{
            background-color: unset;
        }
        tr.row-active:hover td{
            background: #FCF4DF;
        }
    }
}

/* multiple-select */
.multiple-select-label {
    height: 23px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.multiple-select-options-container {
    .multiple-select-item label {
        color: $black;
    }
}

.risk-level {
    display: flex;
    padding: 0;
}

