.popup-content-default {
    padding: 0 15px 10px 15px;

    .caption {
        font-weight: bold;
        font-size: 15px;
        padding-top: 15px;
        min-width: 650px;
        color: #D2592D;

        .base-currency-title {
            color: #024584;
        }
    }

    .table>thead>tr>th  {
        background: $bgHeaderTableLevel1;
        color: $white;
    }
}