
.risk-level {
    border-radius: 3px;
    border: 1px solid;
    border-color: #909090;
    background: #FFF;

    &.VIP {
        border-color: #92D050;
        background: #EBFFD6;
    }

    &.New {
        border-color: #E0CD18;
        background: #FEFFE7;
    }

    &.Healthy {
        border-color: #009D2C;
        background: #DEFFE7;
    }

    &.Moderate {
        border-color: #C0B57B;
        background: #FFE6D1;
    }

    &.Suspicious {
        border-color: #F2A96D;
        background: #FFE6D1;
    }

    &.Dangerous {
        border-color: #E46C0A;
        background: #F2CBAC;
    }

    &.Problems {
        border-color: #FF0D0D;
        background: #FFC9C9;
    }

    &.Robot {
        border-color: #FF0D0D;
        background: #FFC9C9;
    }

    &.Uncategorized {
        border-color: #909090;
        background: #FFF;
    }
}

label.risk-level {
    margin-left: 5px;
    padding-right: 5px;
}