.report-title-container {
    background: $bgHeaderTableLevel1;
    padding: 4px 15px;
    color: $white;
    font-size: 12px;
    position: relative;

    .report-title {
        margin: 0;

        .link{
            color: $white;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.no-info-row {
    border: 1px solid #ccc;
    padding: 5px;
    background: $white;
}

.mobile-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    display: flex;
    overflow-y: auto;
    background: white;
    flex-direction: column;
    
    #container{
        padding-left: 1px;
        padding-right: 1px;
        
    }

    .Select-menu-outer, .rdr-DateRange{
        z-index: 11;
    }

    .popup-title{
        display: flex;
        align-items: center;
        .txt-title{
            width: 100%;
        }
    }
    .header-tab {
        margin-bottom: 0px;
        .tabs{
            height: 50px;
            border-bottom: 0px;
            .tab a{
                font-size: 12px;
                padding: 0px 8px
            }
        }
    }
    .page-filter{
        margin-top: 0px;
        .note{
            flex: inherit;
        }
    }
    .page-wrapper-container{
        input{
            min-width: 30px;
        }
    }
    .betlist-popup{
        iframe{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    }
}