.form-group {
    margin-bottom: 15px;

    .label-text {
        display: block;
        color: $colorLabelText;
    }

    .checkbox-group, .button-group {
        display: inline-block;
    }

    .checkbox-group {
        margin-top: 20px;
    }

    .button-group {
        margin-top: 12px;
    }
}