.caret-block {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 10px;
    right: 10px;

    &.min {
        bottom: 0px;
        right: 5px;
    }
}

.icon-excel {
    background: url(../assets/images/excel-icon.svg) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;

    &.right {
        float: right;
    }
}

.icon-excel-white {
    background: url(../assets/images/excel-white-icon.svg) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    margin-top: 3px;
}

.icon-back {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;

    &.right {
        float: right;
    }
}

.icon-book {
    font-size: 18px;
    color: #066CC0;
    cursor: pointer;

    &.right {
        margin-left: 10px;
    }
}

